body {
    background-color: cyan;
    align-items: center;
}

div {
    border: 0px solid black;
    text-align-last: center;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
}

.tematica {
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    border: 0px solid black;
}
.cuerpo {
    border: 0px solid black;
    width: 800px;
    height: fit-content;
    word-spacing: 10px;
    justify-content: center;
}
.region {
    border: 0px solid black;
    display: flex;
    word-spacing: 10px;
    justify-content: center;
}

.combobox {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    display: flex;
}

.opcion {
    width: 100px;
    height: 30px;
}


.selector {
    width: 200px;
}

.navegador {
    border: 0px solid black;
    text-align-last: center;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}

.Buscador {
    border-radius: 10px;
    border: 1px dashed black;
    padding: 10px;
    width: 470px;
    margin-right: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
a {
    text-decoration: none;
    color: black;
}
ul {
    word-spacing: 10px;
    display: none;
}
li {
    list-style: none;
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a:hover {
    transition: all 0.3ms ease-in-out;
    color: yellow;
    animation-fill-mode: backwards;
}

.imagen {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid black;
    float: left;
    margin: 20px;
    margin-left: 40px;
}
@media only screen and (max-width: 420px) {
    body {
        background-color: lightgreen;
    }
    .Buscador {
        width: 150px;
        height: 20px;
        margin-left: 40px;
        margin-right: 20px;
    }
    nav, li, a {
        font-size: 15px;
        margin: 1px;
        display: none;
    }
    .navegador {
        border: 0px solid black;
        width: 95%;
        text-align-last: left;
    }
    .imagen {
        width: 300px;
        height: 300px;
    }
    .combobox {
        width: 110px;
        padding: 5px;
        background-color: lightskyblue;
    }
    .region {
        justify-content: center;
    }
}